.aw_schema_setting_xl_text_input {
	width: 600px;
}

.aw_schema_setting_large_text_input {
	width: 400px;
}

.aw_schema_setting_medium_text_input {
	width: 200px;
}

.aw_schema_setting_small_text_input {
	width: 100px;
}

